* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section_whole {
    align-items: center;
    background-color:rgb(129, 130, 133);
    width: 1000px;
    height: 1000px;
    margin-inline-start: 75px;
    margin-inline-end: 30px;
    margin-bottom: 30px;
    border-radius: 60px;
}


h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    
    position: relative;
    width: 100%;
    height: 70px;

}

.input-box2 {
    display: block;
    width : 100%;
    text-align: center;
    margin-left: 10px;
    margin: 0 auto;
    position: relative;

}

.input-box2 input{
    background-color: aquamarine;
    
}

.input-box3 {

    width : 100%;
    text-align: center;
    margin-left: 10px;
    margin: 0 auto;
    position: relative;

}
.input-box3 input{
    display: block;
    margin-left: 100px;
    width: 800px;
    height: 100px;
}


.input-box4 input{
    display: block;

    margin-left: 100px;
    position: relative;
    width: 800px;
    height: 100px;  
}


.input-box input {
    margin-left: 100px;
    width: 800px;
    height: 20px;
    background: orange;
    border: none;
    outline: none;
    border: 3px solid rgba(255, 255, 255, 0.295);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.data{
    display: block;

    text-align: center;
    position:relative;
    
    justify-content: space-between;
    font-size: 14.5px;
    margin-top: 10px;
    margin-bottom: 10px;


}




.button {
    align-items: center;
   
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 45px;
    background: #fff;
 
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 500px;
}