.section_inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;

    @media (max-width: 1400px){
        grid-template-columns: repeat(3, 32%);
        gap: 15px;
    }
    @media (max-width: 1200px){
        grid-template-columns: repeat(2, 49%);
        gap: 10px;
    }
    @media (max-width: 400px){
        grid-template-columns: repeat(1, 100%);
    }

    .section {
        margin-bottom: 20px;
        min-height: 100vh;
        }
    }

.section__inner.search {
    min-height: 100vh;
    
    .section {
        margin-bottom: 40px;
        border-radius: 10px;
        background-color: #969696;

        @media (max-width: 600px){
            margin-bottom: 10px;
        }

        .section__thumb {

            a {
                position: relative;
                display: block;
                cursor: pointer;
                width: 20%;
                padding-bottom: 56.25%;
                position: relative;
                background-size: cover;
                background-position: center;
            }
        }

        .section__info {
            padding: 10px 15px;
            color: #fff;
    
            .title {
                font-size: 1rem;
                @include line-two;
            }
            .info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                
                .locate {
                    @include line-one;
                    color: #666;
                    transition: all 0.3s;
    
                    &:hover {
                        color: #fff;
                    }
                }
                .date {
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }
}

.section__more {
    button {
        width: 100%;
        border: 0;
        padding: 20px;
        background-color: var(--black100);
        color: var(--white);
        transition: all 0.3s;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 40px;

        &:hover {
            background-color: var(--black200);
        }
    }
}


#SectionPage {
    padding: 0;

    @media (max-width: 800px){
        margin-top: 80px;
    }
}
.Section__view {

    .Section__play {
        width: 100%;
        padding-bottom: 56.2%;
        position: relative;
    }

    .Section__info {
        padding: 40px;

        .Section__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            background-color: var(--black100);
            padding: 10px 30px;
            border-radius: 40px;

            .id {
                font-weight: 800;
            }

            .count {

                span {
                    border-radius: 40px;
                    font-size: 14px;
                    margin-left: 10px;

                    svg {
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .Section__desc {
            white-space: pre-line;
        }
    } 
}