.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.filters-container input,
.filters-container select {
    margin: 0 10px;
}

.market-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.section_mk {
    flex: 1 1 calc(33.333% - 20px); /* 3개씩 출력되도록 설정 */
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid black; /* 1px의 두께를 가진 검정색 선 추가 */
    
}

.headerText,
.innerText,
.InnerText,
.section__data {
    /* 스타일 추가 가능 */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-images-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.small-img {
    width: 400px;
    height: 100px;
}

.large-image-container {
    width: 100%;
    height: 1000px;
    overflow: hidden; /* 이미지가 컨테이너를 넘어서지 않도록 */
}

.large-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞추기 */
}
