*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    color: #111;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body,
div,
dl,
dd,
dt,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
table,
th,
td,
input,
figure,
figcaption,
blockquote {
    margin: 0;
    padding: 0;
}

body, input, textarea, select, button, table {
    color: var(--color_body);
    font-size: 16px;
    line-height: 1.4;
    font-family: "SUITE", sans-serif;
    font-weight: 500;
    letter-spacing: -0.4px;
}

a {
    text-decoration: none;
    color: #333;
}

li,
ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1rem;
}

em,
address {
    font-style: normal;
}

img,
svg,


img,
fieldset,
button {
    border: 0;
}