// 가운데 정렬
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 양쪽 정렬
@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 한줄 효과
@mixin line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 두줄 효과 이상
@mixin line($num) {
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
}


// 버튼
@mixin button($bg-color, $text-color){
    display: inline-block;
    padding: 10px 50px;
    background-color: $bg-color;
    color:  $text-color;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: darken($bg-color, 20%);
    }
}

// 보더
@mixin border($radius){
    border-radius: ($radius);
}

// 아이콘
@mixin icon($bg-color, $icon-image){
    position: relative;
    padding-top: 70px;
    &::before {
        content: '';
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $bg-color;
        background-image: $icon-image;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        transition: background-color 0.3s;
    }
    &:hover:before {
        background-color: darken($bg-color, 10%);
    }
}