@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  $theme-color: #36f;
  $theme-label-color: #020202;
  $theme-color-border: rgb(225, 226, 227);
  $theme-background-color: #f8f8fa;