* {
    margin: 0;
    padding: 0;
    color: #111;
}
/* 여백 초기화 */
body, div, dl, dd, dt, ul, li,ol, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, p, table, th, td, input,
figure, figcaption, blockquote {
    margin: 0;
    padding: 0;
}

/* 폰트 초기화 */
body, button, input, select, table, textarea {
    font-family: 'SUITE';
}

/* 링크 초기화 */
a {
    text-decoration: none;
    color: #000;
}

/* 목록 초기화 */
li, ol, ul {
    list-style: none;
}

/* 제목 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 1rem;
}

/* 폰트 스타일 */
em, address {
    font-style: normal;
}

/* 이미지 초기화 */
img {
    width: 100%;
    vertical-align: top;
}

/* 보더 초기화 */
img, fieldset, button {
    border: 0;
}

/* 클리어픽스 */
.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    line-height: 0;
}
.clearfix::before {
    clear: both;
}

/* 블라인드 효과 */
.blind {
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* ir 효과 */
.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

/* 간격설정 */
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}
.mt70  {margin-top: 70px !important;}

.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb70 {margin-bottom: 70px !important;}

/* hide */
.hide {
    display: none;
}