.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;  /* 섹션 사이의 간격 추가 */
}

.small-images-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.small-img {
    width: 400px;
    height: 100px;
    object-fit: cover;
}

.large-image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.large-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
