/* card */

#card {
  padding: 50px;
}

  .card__inner {
  
    width: 100%;
    margin: 0 auto;
   
  }

  .card__box {
    display: flex;
    padding: 20px 10px 20px 0;
    margin: 10px;
 
  }

  .cardItem {

    width: 700px;
    margin: 0 15px;
  
  }

  .Main-img {
    height : 20vmin;
    width : 20px;
    pointer-events: none;
}

