#wrap {
    position: relative;
  }
  #ct__wrap {
    text-align: center;
    z-index: 50;
    background: #fff;
  }
  .ct__inner {
    position: relative;
    margin: 0 auto;
    background: #fff;
    z-index: 3;
  }
  .ct__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 100px;
    width: 100;
    background: #fff;
  }
  .select {
    position: relative;
    width: 100%;
    height: 42px;
    margin-top: 14px;
  }

  .select-type {
    width: 80px;
    height: 33px;
    border: 1px solid #ddd;
    border-radius: 16px;
    font-size: 12px;
    padding: 0 13px;
    line-height: 27px;
  }

  .ct__menu {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 3;
    background: #fff;
    height: 20px;
    justify-content: center;
    margin-right: 28px;
  }
  
  .ct__menu ul {
    display: flex;
  }
  .ct__menu ul li a {
    display: block;
    padding: 0 57px;
    font-size: 18px;
  }
  .ct__menu ul li:first-child a {
    padding: 0 45px 0 0;
  }
  .ct__menu a::after {
    display: block;
    content: '';
    border-bottom: solid 3px #f09e24;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .ct__menu a:hover:after {
    transform: scaleX(1);
  }
  .ct__menu a.fromRight:after{
    transform-origin:100% 50%;
  }
  .ct__menu a.fromLeft:after{
    transform-origin:  0% 50%;
  }


