/* header */
#wrap {
  position: relative;
}

#header__wrap {
  text-align: center;
  z-index: 50;
  background: #fff;
}

.header__inner {
  position: relative;
  margin: 0 auto;
  background: #fff;
  z-index: 3;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  height: 100px;
  width: 100%;
  background: #fff;
}

.header__logo {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100px;
}

.header__logo img {
  height: 80px; /* 이미지 높이를 적절히 조정 */
  width: auto; /* 가로 비율 유지 */
}

.header__member {
  display: flex;
  align-items: center;
}

.header__member a {
  display: inline-block;
  padding: 9px;
  font-size: 14px;
  color: #111;
}

.select1 {
  position: relative;
  width: 100%;
  height: 42px;
  margin-top: 14px;
}

.select-type {
  width: 80px;
  height: 33px;
  border: 1px solid #ddd;
  border-radius: 16px;
  font-size: 12px;
  padding: 0 13px;
  line-height: 27px;
}

.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
  background: #fff;
  height: 20px;
  justify-content: center;
  margin-right: 28px;
}

.header__menu ul {
  display: flex;
}

.header__menu ul li a {
  display: block;
  padding: 0 57px;
  font-size: 18px;
}

.header__menu ul li:first-child a {
  padding: 0 45px 0 0;
}

.header__menu a::after {
  display: block;
  content: '';
  border-bottom: solid 3px #f09e24;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.header__menu a:hover:after {
  transform: scaleX(1);
}

.header__menu a.fromRight:after {
  transform-origin: 100% 50%;
}

.header__menu a.fromLeft:after {
  transform-origin: 0% 50%;
}

.snb-more {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 18px;
  display: block;
  color: #1e5aff;
  cursor: pointer;
}

.snb-more::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: transparent #000 #000 transparent;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transform-origin: 66% 66%;
  margin-left: 7px;
  margin-right: 4px;
  vertical-align: 4px;
  transition: 0.3s;
  top: 6px;
  right: -20px;
}

.snb-more.active:before {
  transform: rotate(-135deg);
  top: 3px;
}

.snb-wrap {
  position: absolute; /* fixed를 absolute로 변경 */
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 29px 0 40px;
  background: #d8d8d8d0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}

.snb-wrap.active {
  transform: translateY(0);
}

.inner-box {
  display: flex;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.snb-wrap .mnu-wrap {
  display: inline-table;
  table-layout: fixed;
  width: 794px;
  padding-right: 100px;
}

.snb-wrap .mnu-wrap .mnu-box {
  display: table-cell;
  width: 178px;
  vertical-align: top;
}

.snb-wrap a {
  display: block;
  padding: 8px 0;
  font-size: 20px;
  color: #111;
}

.snb-wrap li a {
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: #555;
}

.snb-wrap ul {
  margin-top: 10px;
}

.snb-wrap .notice-box {
  display: inline-block;
  width: 270px;
  padding: 22px 0 23px 70px;
  margin-top: 10px;
  border-left: 1px solid #ddd;
  vertical-align: top;
}
