.search__inner {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 17px 35px;
    border-bottom: 1px solid var(black100);

    label {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 53px;
        top: 28px;
        background-size: cover;
    }

    input {
        background-color: var(black);
        border: 1px solid var(black);
        width: 100%;
        padding: 14px 45px;
        border-radius: 40px;
        font-size: 16px;
        color: var(--black100);
    }
}