.section_inner {
    display: inline-block;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
    justify-content: space-between;
    flex-direction: row;
    margin-top: 300px;
}

.headerText {
    font-size:25px;
    background-color: rgb(250, 201, 111);
    font-style: normal;
    text-align: center;
}


.Text {
    font-size: 18px;
    text-align: right;
    background-color: rgb(250, 201, 111);
}


.InnerText {
    background-color: rgb(160, 198, 255);
    font-size:20px;
    font-style: normal;
    text-align: center;
}

.section_fes {
    display: inline-block;
    background-color:rgb(129, 130, 133);
    inline-size: 480px;
    justify-content: space-between;
    margin-inline-start: 75px;
    margin-inline-end: 30px;
    margin-bottom: 30px;
}

.header_fes {
    display: inline-block;
    position: left;
    display: flex;
    align-items: center;
    z-index: 3;
    background: #fff;
    height: 20px;
    justify-content: center;
    margin-right: 28px;
}

.section__data {

    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 20px;
    
}

.section__data2 {

    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background-color:aquamarine;
}

.title {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 60px;
    background-size: cover;
    background-color: rgb(206, 206, 206);
    border-radius: 60px;
}

