.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.filters-container input,
.filters-container select {
    margin: 0 10px;
}

.market-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.section_fes {
    flex: 1 1 calc(33.333% - 20px); /* 3개씩 출력되도록 설정 */
    box-sizing: border-box;
    margin-bottom: 20px;
}

.headerText,
.innerText,
.InnerText,
.section__data {
    /* 스타일 추가 가능 */
}
