/* festival.css */
.filters-container {
    margin: 20px;
}

.festival-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section_fes {
    flex: 1 1 calc(33.333% - 20px); /* 3개씩 출력되도록 설정 */
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid black; /* 1px의 두께를 가진 검정색 선 추가 */
}

.headerText {
    font-size: 18px;
    font-weight: bold;
}

.innerText {
    color: #555;
}

.section__data {
    margin-top: 10px;
}
